@font-face {
    font-family: 'icomoonLeft';
    src:  url('fonts/icomoonLeft.eot?m95f7a');
    src:  url('fonts/icomoonLeft.eot?m95f7a#iefix') format('embedded-opentype'),
      url('fonts/icomoonLeft.ttf?m95f7a') format('truetype'),
      url('fonts/icomoonLeft.woff?m95f7a') format('woff'),
      url('fonts/icomoonLeft.svg?m95f7a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoonRight';
    src:  url('fonts/icomoonRight.eot');
    src:  url('fonts/icomoonRight.eot?sekzcy#iefix') format('embedded-opentype'),
        url('fonts/icomoonRight.ttf?sekzcy') format('truetype'),
        url('fonts/icomoonRight.woff?sekzcy') format('woff'),
        url('fonts/icomoonRight.svg?sekzcy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

pagination-controls /deep/ .ngx-pagination .pagination-previous a::before, 
pagination-controls /deep/ .ngx-pagination .pagination-previous.disabled::before {
    font-family: 'icomoonLeft' !important;
    speak: none;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\ea44";    
}

pagination-controls /deep/ .ngx-pagination .pagination-next a::after,
pagination-controls /deep/ .ngx-pagination .pagination-next.disabled::after {
    font-family: 'icomoonRight' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\ea45";    
}

/* Style to page selected */
pagination-controls /deep/ .ngx-pagination .current {
    background: red;
    font-weight: bold;
}

/* Space between pages */
pagination-controls /deep/ .ngx-pagination li {
    margin: 0px 3px;
}